.navbar{
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: rgb(22, 22, 22);
  width: 100%;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(255,5,5,0.59);
  -moz-box-shadow: 0px 0px 21px 0px rgba(255,5,5,0.59);
  box-shadow: 0px 0px 21px 0px rgba(255,5,5,0.59);
  
}

.navbar h1 {
  margin: 0;
  color: red;
}

.searh-form button {
  display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #d11e1e;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.btn-navbar button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #d11e1e;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-navbar button:hover,
.btn-navbar button:focus {
    background: #9e0000;
}

.searh-form button:hover,
.searh-form button:focus {
    background: #9e0000;
}

.searh-form input[type=text] {
  height: 40%;
  width: 500px;
  margin-top: 25px;
}